<style>
        h1 { 
            size: 65px;
            color: orange;
            font-family: sans-serif;
            font-style: italic;
        }
        ul {
            background-color: aquamarine;
            line-height: 40px;
        }

        .modificacor {
            background-color: darksalmon;
        }

        p {
            font-weight: 600;
        }

        body {
            font-size: 16px;
            text-align: center;
            text-decoration: underline;
        }

        p {
            font-size: 3em;
        }

        #amarelo {
            background-color: yellow;
        }

        #vermelho {
            background-color: red;
        }

        #marrom {
            background-color: brown;
        }
    

    </style>